@import "tailwindcss";

@theme {
  --color-green-200: #EDF9EF;
  --color-green-400: #578872;
  --color-green-500: #2D6A4F;
  --color-green-800: #193A2B;
  --color-grey-800: #292926;
  --color-blue-400: #66A789;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
